<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cajero</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/estilos.css">
</head>
<body>
<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h2 class="text-center">Productos</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="producto : ${productos}">
                        <td th:text="${producto.nombre}"></td>
                        <td th:text="${producto.cantidad}"></td>
                        <td th:text="${producto.precioUnitario}"></td>
                        <td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
